
.jumbotron {
    color: white;
    background:rgb(0, 0, 0);
    background-image: url('../img/code-bg-m.jpg');
    background-image: linear-gradient(rgb(0, 0, 0, 0.8) 0%,rgb(0, 0, 0,1) 50%, rgba(0, 0, 0, 0.1) 100%), url('../img/code-bg-m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#iProfileImage {
    border-radius: 8em;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.progress-bar {
    color: white;
}

p {
    white-space: break-spaces;
}

#iMoveUpBtn {
    
    width: 50px;
    left:calc(50% - 23px);
    bottom: 10px;
    -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.55);
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.55);    
}

#iMoveUpBtn {
    display: none;
    border-radius: 25px;
    font-size: 1.5em;
    opacity: 0.75;
}
#iMoveUpBtn:hover {
    opacity: 1;
}